<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Some Text here</p>
        <!-- Partial footer call with name we do inject -->
        {{> footer}}
    </body>
</html>